openapi: "3.0.2"
info:
  version: "1.0.0"
  title: "YooMoney API Reference"
  description: "The YooMoney API Reference describes all the YooMoney API methods. The API allows you to process online payments via different methods and make payouts. More about integration via the YooMoney API: Integration guide: https://yookassa.ru/developers: description of payment solutions based on the YooMoney API as well as links to detailed instructions.; Interaction format: https://yookassa.ru/developers/using-api/interaction-format: description of request formats, requirements for request authentication and idempotency key, specifics of response processing.; OpenAPI specification: https://yookassa.ru/developers/using-api/openapi-specification: information about the YooMoney API specification, link for downloading the specification in the YAML format.; Ready-made SDK: https://yookassa.ru/developers/using-api/using-sdks: links to ready-made solutions for PHP, Python, and other programming languages.; Incoming notifications: https://yookassa.ru/developers/using-api/webhooks: description of the operating procedure for notifications (webhook, callback) sent to track object statuses. YooMoney API changelog: https://yookassa.ru/developers/using-api/changelog"
servers:
- url: "https://api.yookassa.ru/v3"
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: "Payments"
  description: "The API allows you to create, capture, and cancel payments, as well as receive payment information. How to process a payment: https://yookassa.ru/developers/payment-acceptance/getting-started/quick-start"
- name: "Способы оплаты"
  description: "Только для тех, кто использует привязку на нулевую сумму: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/save-payment-method/save-without-payment для сохранения банковских карт. Способ оплаты — данные платежного средства пользователя. Например, данные банковской карты. С помощью API вы можете создать способ оплаты — сохранить платежные данные в ЮKassa с привязкой к вашему магазину. Также по API вы можете получить актуальную информацию о созданном способе оплаты."
- name: "Счета"
  description: "Счет — это страница ЮKassa, на которой пользователь может ознакомиться с деталями заказа и внести оплату. При переходе к оплате ЮKassa автоматически создаст платеж: https://yookassa.ru/developers/api#payment_object и перенаправит пользователя на страницу с платежной формой. Счет считается оплаченным, если по нему есть один успешный платеж. С помощью API вы можете создать счет и получить о нём актуальную информацию. Подробнее о выставлении счетов по API: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/invoices/basics"
- name: "Возвраты"
  description: "С помощью API можно возвращать платежи — полностью или частично. Порядок возврата зависит от способа оплаты (payment_method) исходного платежа. При оплате банковской картой деньги возвращаются на карту, которая была использована для проведения платежа. Как проводить возвраты: https://yookassa.ru/developers/payment-acceptance/after-the-payment/refunds Часть способов оплаты (например, наличные) не поддерживают возвраты. Какие платежи можно вернуть: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all"
- name: "Чеки"
  description: "Для тех, кто использует решение ЮKassa для 54-ФЗ: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/basics С помощью API можно получать информацию о чеках, для которых вы отправили данные через ЮKassa."
- name: "Выплаты"
  description: "Payout is a sum of money that you transfer to an individual. Using the API, you can make a payout and get the information about its current status. Payouts are used in the following YooMoney payment solutions: Payouts: https://yookassa.ru/developers/payouts/overview: you, as a company, transfer money to individuals (for example, send cashback to users).; Safe Deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics: your platform transfers payment from one individual to another as part of a created deal."
- name: "Участники СБП"
  description: "Только для тех, кто делает обычные выплаты, не в рамках Безопасной сделки. Участники СБП — это банки и платежные сервисы, подключенные к СБП (Система быстрых платежей ЦБ РФ). С помощью API ЮKassa вы можете получить актуальный список всех участников СБП. Информация об участниках СБП нужна для проведения выплат через СБП. Как делать выплаты через СБП: https://yookassa.ru/developers/payouts/making-payouts/sbp"
- name: "Персональные данные"
  description: "Только для тех, кто делает обычные выплаты, не в рамках Безопасной сделки. Персональные данные пользователя — это фамилия, имя, отчество пользователя и другие данные о нём. С помощью API вы можете создать персональные данные в ЮKassa (сохранить данные о пользователе) и получить актуальную информацию о статусе персональных данных. Персональные данные пользователя нужны в этих сценариях: выплаты с проверкой получателя: https://yookassa.ru/developers/payouts/scenario-extensions/recipient-check (только для выплат через СБП); выплаты с передачей данных получателя для выписок из реестра: https://yookassa.ru/developers/payouts/scenario-extensions/recipient-data-send."
- name: "Сделки"
  description: "Только для тех, кто использует Безопасную сделку: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. Безопасная сделка — это решение ЮKassa, с помощью которого можно принять оплату от одного участника сделки и перевести ее другому участнику в момент выполнения условий сделки. С помощью API вы можете создать сделку и получить о ней актуальную информацию."
- name: "Webhooks"
  description: "Аутентификация только по OAuth-токену. Доступно в рамках API для партнеров: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics Webhook — это механизм автоматического оповещения вашей системы о событиях, которые происходят с созданными объектами. Например, ЮKassa может сообщить, когда объект платежа: https://yookassa.ru/developers/api#payment_object, созданный в вашем приложении, перейдет в статус waiting_for_capture. С помощью API вы можете настроить webhook (создать, удалить, просмотреть список созданных) для переданного OAuth-токена. Подробнее об уведомлениях API ЮKassa: https://yookassa.ru/developers/using-api/webhooks"
- name: "Настройки"
  description: "Только для тех, кто использует Сплитование платежей, Партнерскую программу или Выплаты. В ЮKassa у каждого магазина и шлюза есть определенные настройки, которые влияют на интеграцию и проведение платежей и выплат. Настройки доступны в личном кабинете: https://yookassa.ru/my/, но в некоторых платежных решениях ЮKassa важно получать настройки по API. Настройки необходимо узнавать по API в следующих платежных решениях ЮKassa: * Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics — вы можете узнать статус магазина продавца, подключенного к вашей площадке. * Партнерская программа: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics — вы можете получить справочную информацию о магазине, от имени которого вы выполняете операции, например можете узнать, нужно ли передавать данные для отправки чека. * Выплаты: https://yookassa.ru/developers/payouts/overview — вы можете узнать баланс выплат вашего шлюза."
paths:
  /payments:
    post:
      summary: "Create a payment"
      description: "To accept a payment, you need to create a payment object: https://yookassa.ru/developers/api#payment_object, Payment. It contains all the necessary payment information (amount, currency, and status). Payments have a linear life cycle, going from one status to the next sequentially."
      tags:
      - "Payments"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "CreatePaymentRequest"
              properties:
                amount:
                  allOf:
                  - $ref: "#/components/schemas/MonetaryAmount"
                  - description: "Payment amount. Sometimes YooMoney's partners charge additional commission from the users that is not included in this amount. The amount is specified with the currency code. It should match the currency of your subaccount (recipient.gateway_id) if you separate payment flows, or the currency of the account (shopId in the Merchant Profile) if you don't."
                description:
                  allOf:
                  - $ref: "#/components/schemas/Description"
                  - description: "Описание транзакции (не более 128 символов), которое вы увидите в личном кабинете ЮKassa, а пользователь — при оплате. Например: «Оплата заказа № 72 для user@yoomoney.ru»."
                receipt:
                  $ref: "#/components/schemas/ReceiptData"
                recipient:
                  $ref: "#/components/schemas/Recipient"
                payment_token:
                  $ref: "#/components/schemas/PaymentToken"
                payment_method_id:
                  $ref: "#/components/schemas/PaymentMethodId"
                payment_method_data:
                  oneOf:
                  - $ref: "#/components/schemas/PaymentMethodDataBankCard"
                  - $ref: "#/components/schemas/PaymentMethodDataCash"
                  - $ref: "#/components/schemas/PaymentMethodDataSberbank"
                  - $ref: "#/components/schemas/PaymentMethodDataTinkoffBank"
                  - $ref: "#/components/schemas/PaymentMethodDataYooMoney"
                  - $ref: "#/components/schemas/PaymentMethodDataMobileBalance"
                  - $ref: "#/components/schemas/PaymentMethodDataB2bSberbank"
                  - $ref: "#/components/schemas/PaymentMethodDataSbp"
                  - $ref: "#/components/schemas/PaymentMethodDataSberLoan"
                  - $ref: "#/components/schemas/PaymentMethodDataElectronicCertificate"
                  - $ref: "#/components/schemas/PaymentMethodDataSberBnpl"
                  discriminator:
                    propertyName: "type"
                confirmation:
                  oneOf:
                  - $ref: "#/components/schemas/ConfirmationDataRedirect"
                  - $ref: "#/components/schemas/ConfirmationDataExternal"
                  - $ref: "#/components/schemas/ConfirmationDataQr"
                  - $ref: "#/components/schemas/ConfirmationDataEmbedded"
                  - $ref: "#/components/schemas/ConfirmationDataMobileApplication"
                  discriminator:
                    propertyName: "type"
                save_payment_method:
                  $ref: "#/components/schemas/SavePaymentMethodAttribute"
                capture:
                  $ref: "#/components/schemas/Capture"
                client_ip:
                  $ref: "#/components/schemas/ClientIp"
                metadata:
                  $ref: "#/components/schemas/Metadata"
                airline:
                  allOf:
                  - $ref: "#/components/schemas/Airline"
                  - description: "Object containing the data for selling airline tickets. Used only for bank card payments."
                transfers:
                  description: "Information about money distribution: the amounts of transfers and the stores to be transferred to. Specified if you use Split payments: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics."
                  type: "array"
                  items:
                    $ref: "#/components/schemas/TransferDataPayment"
                deal:
                  allOf:
                  - $ref: "#/components/schemas/PaymentDealInfo"
                  - description: "The deal within which the payment is being carried out. Specified if you use Safe deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
                merchant_customer_id:
                  allOf:
                  - $ref: "#/components/schemas/MerchantCustomerId"
                  - description: "The identifier of the customer in your system, such as email address or phone number. No more than 200 characters. Specified if you want to save a bank card and offer it for a recurring payment in the YooMoney payment widget: https://yookassa.ru/developers/payment-acceptance/integration-scenarios/widget/basics."
                payment_order:
                  oneOf:
                  - $ref: "#/components/schemas/PaymentOrderDataUtilities"
                  discriminator:
                    propertyName: "type"
                receiver:
                  oneOf:
                  - $ref: "#/components/schemas/ReceiverMobileBalance"
                  - $ref: "#/components/schemas/ReceiverDigitalWallet"
                  - $ref: "#/components/schemas/ReceiverBankAccount"
                  discriminator:
                    propertyName: "type"
                statements:
                  type: "array"
                  description: "Data for sending statements. Required if you want the user to receive a statement after they make a payment. Only one type of statement is currently available: payment overview.  This is the information about a successful payment that YooMoney sends to the user's email address. An overview may be sent if the payment was made via bank cards, SberPay, or FPS. The option to send overviews is available for all integration scenarios: https://yookassa.ru/developers/payment-acceptance/getting-started/selecting-integration-scenario."
                  items:
                    oneOf:
                    - $ref: "#/components/schemas/PaymentOverviewStatementData"
                    discriminator:
                      propertyName: "type"
              required:
              - "amount"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "List payments"
      description: "Use this request to get a list of payments. You can download payments created over the last 3 years. You can filter the list by specified criteria. More about working with lists: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Payments"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - in: "query"
        name: "captured_at.gte"
        description: "Filter by time of payment capture: time must be greater than the specified value or equal (\"from a certain moment inclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.gte=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "captured_at.gt"
        description: "Filter by time of payment capture: time must be greater than the specified value (\"from a certain moment exclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.gt=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "captured_at.lte"
        description: "Filter by time of payment capture: time must be less than the specified value or equal (\"until a certain moment inclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.lte=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "captured_at.lt"
        description: "Filter by time of payment capture: time must be less than the specified value (\"until a certain moment exclusive\") Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: captured_at.lt=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "payment_method"
        schema:
          $ref: "#/components/schemas/PaymentMethodType"
        required: false
        description: "Filter by payment method: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all code. Example: payment_method=bank_card"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/PaymentStatus"
        required: false
        description: "Filter by payment status: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#lifecycle. Example: status=succeeded"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payments/{payment_id}:
    get:
      summary: "Get payment information"
      description: "This request allows you to get the information about the current payment status by its unique ID."
      tags:
      - "Payments"
      parameters:
      - $ref: "#/components/parameters/paymentIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payments/{payment_id}/capture:
    post:
      summary: "Capture a payment"
      description: "Confirm you’re ready to accept the payment. Once the payment is captured, the status will change to succeeded. After that, you can provide the customer with the product or service. You can only capture payments with the waiting_for_capture status, and only for a certain amount of time (depending on the payment method). If you do not capture the payment within the allotted time, the status will change to canceled, and the money will be returned to the user. More about capturing and canceling payments: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel"
      tags:
      - "Payments"
      parameters:
      - $ref: "#/components/parameters/paymentIdPath"
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "PaymentCaptureRequest"
              properties:
                amount:
                  allOf:
                  - $ref: "#/components/schemas/MonetaryAmount"
                  - description: "Total amount that will be debited from the user. You can specify a part of the initial amount to return the balance to the user. To do this, make sure that the selected payment method supports partial debit: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-partly. The amount is specified with the currency code. It should match the currency of your subaccount (recipient.gateway_id) if you separate payment flows, or the currency of the account (shopId in the Merchant Profile) if you don't."
                receipt:
                  $ref: "#/components/schemas/ReceiptData"
                airline:
                  allOf:
                  - $ref: "#/components/schemas/Airline"
                  - description: "Object containing the data for selling airline tickets. Used only for bank card payments."
                transfers:
                  description: "Information about money distribution: the amounts of transfers and the stores to be transferred to. Specified for partially capturing a payment if you use Split payments: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics."
                  type: "array"
                  items:
                    $ref: "#/components/schemas/TransferDataCapture"
                deal:
                  type: "object"
                  description: "The deal within which the payment is being carried out. Specified for partially capturing a payment if you use Safe deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
                  title: "CapturePaymentDeal"
                  properties:
                    settlements:
                      $ref: "#/components/schemas/SettlementPaymentArray"
                  required:
                  - "settlements"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payments/{payment_id}/cancel:
    post:
      summary: "Cancel a payment"
      description: "Cancel payments with the waiting_for_capture status. Payment cancelation means you are not ready to dispatch a product or to provide a service to the user. Once you cancel the payment, we will start returning the money to the payer’s account. If the payment was made from a bank card, a YooMoney wallet, or via SberPay, the money will be refunded instantly. If the payment was made using other payment methods, the process can take up to several days. More about capturing and canceling payments: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel"
      parameters:
      - $ref: "#/components/parameters/paymentIdPath"
      - $ref: "#/components/parameters/IdempotenceKey"
      tags:
      - "Payments"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payment_methods:
    post:
      summary: "Создание способа оплаты"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект способа оплаты: https://yookassa.ru/developers/api#payment_method_object. В запросе необходимо передать код способа оплаты, который вы хотите сохранить, и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Идентификатор созданного способа оплаты вы можете использовать при проведении автоплатежей: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/create-recurring или выплат: https://yookassa.ru/developers/payouts/scenario-extensions/multipurpose-token."
      tags:
      - "Способы оплаты"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SavePaymentMethodDataBankCard"
              discriminator:
                propertyName: "type"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/SavePaymentMethodBankCard"
                discriminator:
                  propertyName: "type"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payment_methods/{payment_method_id}:
    get:
      summary: "Информация о способе оплаты"
      description: "Используйте этот запрос, чтобы получить информацию о текущем состоянии способа оплаты по его уникальному идентификатору."
      tags:
      - "Способы оплаты"
      parameters:
      - $ref: "#/components/parameters/paymentMethodIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/SavePaymentMethodBankCard"
                discriminator:
                  propertyName: "type"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /invoices:
    post:
      summary: "Создание счета"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект счета: https://yookassa.ru/developers/api#invoice_object. В запросе необходимо передать данные о заказе, которые отобразятся на странице счета, и данные для проведения платежа."
      tags:
      - "Счета"
      security:
      - BasicAuth: []
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "CreateInvoiceRequest"
              properties:
                payment_data:
                  $ref: "#/components/schemas/PaymentData"
                cart:
                  $ref: "#/components/schemas/Cart"
                delivery_method_data:
                  oneOf:
                  - $ref: "#/components/schemas/DeliveryMethodDataSelf"
                  - $ref: "#/components/schemas/DeliveryMethodDataSms"
                  - $ref: "#/components/schemas/DeliveryMethodDataEmail"
                  discriminator:
                    propertyName: "type"
                expires_at:
                  $ref: "#/components/schemas/InvoiceExpirationDate"
                locale:
                  $ref: "#/components/schemas/Locale"
                description:
                  allOf:
                  - $ref: "#/components/schemas/Description"
                  - description: "Описание выставленного счета (не более 128 символов), которое вы увидите в личном кабинете ЮKassa, а пользователь на странице счета. Например: «Счет на оплату по договору 37»."
                metadata:
                  $ref: "#/components/schemas/Metadata"
              required:
              - "payment_data"
              - "cart"
              - "expires_at"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /invoices/{invoice_id}:
    get:
      summary: "Информация о счете"
      description: "Используйте этот запрос, чтобы получить информацию о текущем состоянии счета по его уникальному идентификатору."
      parameters:
      - $ref: "#/components/parameters/invoiceId"
      tags:
      - "Счета"
      security:
      - BasicAuth: []
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /refunds:
    post:
      summary: "Создание возврата"
      description: "Создает возврат успешного платежа на указанную сумму. Платеж можно вернуть только в течение трех лет с момента его создания: https://yookassa.ru/developers/api#create_payment. Комиссия ЮKassa за проведение платежа не возвращается."
      tags:
      - "Возвраты"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "RefundRequest"
              properties:
                payment_id:
                  $ref: "#/components/schemas/PaymentId"
                amount:
                  allOf:
                  - $ref: "#/components/schemas/MonetaryAmount"
                  - description: "The amount that must be refunded to the user. The amount is specified with the currency code. It should match the currency of your subaccount (recipient.gateway_id) if you separate payment flows, or the currency of the account (shopId in the Merchant Profile) if you don't."
                description:
                  description: "Комментарий к возврату, основание для возврата денег пользователю."
                  type: "string"
                  maxLength: 250
                receipt:
                  $ref: "#/components/schemas/ReceiptData"
                sources:
                  description: "Данные о том, с какого магазина и какую сумму нужно удержать для проведения возврата. Необходимо передавать, если вы используете Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics. Сейчас в этом параметре можно передать данные только одного магазина."
                  type: "array"
                  items:
                    $ref: "#/components/schemas/RefundSourcesData"
                deal:
                  $ref: "#/components/schemas/RefundDealData"
                refund_method_data:
                  oneOf:
                  - $ref: "#/components/schemas/ElectronicCertificateRefundMethodData"
                  discriminator:
                    propertyName: "type"
                metadata:
                  $ref: "#/components/schemas/Metadata"
              required:
              - "payment_id"
              - "amount"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Refund"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список возвратов"
      description: "Use this request to get a list of refunds. You can download refunds created over the last 3 years. You can filter the list by specified criteria. More about working with lists: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Возвраты"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - in: "query"
        name: "payment_id"
        schema:
          $ref: "#/components/schemas/PaymentId"
        required: false
        description: "Фильтр по идентификатору платежа: https://yookassa.ru/developers/api#payment_object_id (получить все возвраты по платежу). Пример: payment_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/RefundStatus"
        required: false
        description: "Фильтр по статусу возврата. Возможные значения: pending — в обработке, succeeded — успешно выполнен, canceled — отменен. Пример: status=succeeded"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /refunds/{refund_id}:
    get:
      summary: "Информация о возврате"
      description: "Запрос позволяет получить информацию о текущем состоянии возврата по его уникальному идентификатору."
      tags:
      - "Возвраты"
      parameters:
      - $ref: "#/components/parameters/refundIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Refund"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /receipts:
    post:
      summary: "Создание чека"
      description: "Используйте этот запрос при оплате с соблюдением требований 54-ФЗ: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/basics, чтобы создать чек зачета предоплаты. Если вы работаете по сценарию Сначала платеж, потом чек: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics#receipt-after-payment, в запросе также нужно передавать данные для формирования чека прихода и чека возврата прихода."
      tags:
      - "Чеки"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostReceiptData"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список чеков"
      description: "Запрос позволяет получить список чеков, отфильтрованный по заданным критериям. Можно запросить чеки по конкретному платежу, чеки по конкретному возврату или все чеки магазина. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Чеки"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/ReceiptRegistrationStatus"
        required: false
        description: "Фильтр по статусу чека. Возможные значения: pending — в обработке, succeeded — успешно зарегистрирован, canceled — отменен. Пример: status=succeeded"
      - in: "query"
        name: "payment_id"
        schema:
          $ref: "#/components/schemas/PaymentId"
        required: false
        description: "Фильтр по идентификатору платежа: https://yookassa.ru/developers/api#payment_object_id (получить все чеки для указанного платежа). Пример: payment_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9 В запросе можно передать только что-то одно: или идентификатор платежа, или идентификатор возврата."
      - in: "query"
        name: "refund_id"
        schema:
          $ref: "#/components/schemas/RefundId"
        required: false
        description: "Фильтр по идентификатору возврата: https://yookassa.ru/developers/api#refund_object_id (получить все чеки для указанного возврата). Пример: refund_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9 В запросе можно передать только что-то одно: или идентификатор платежа, или идентификатор возврата."
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
                description: "Список чеков, созданных за последние три года. Чеки отсортированы по времени создания в порядке убывания (от новых к старым). Если результатов больше, чем задано в limit, список будет выводиться фрагментами. В этом случае в ответе на запрос вернется фрагмент списка и параметр next_cursor с указателем на следующий фрагмент."
                title: "ReceiptList"
                properties:
                  type:
                    type: "string"
                    description: "Формат выдачи результатов запроса. Возможное значение: list (список)."
                    enum:
                    - "list"
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Receipt"
                  next_cursor:
                    $ref: "#/components/schemas/NextCursor"
                required:
                - "type"
                - "items"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /receipts/{receipt_id}:
    get:
      summary: "Информация о чеке"
      description: "Запрос позволяет получить информацию о текущем состоянии чека по его уникальному идентификатору."
      tags:
      - "Чеки"
      parameters:
      - $ref: "#/components/parameters/receiptIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /deals:
    post:
      summary: "Создание сделки"
      description: "Запрос позволяет создать сделку, в рамках которой необходимо принять оплату от покупателя и перечислить ее продавцу."
      tags:
      - "Сделки"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SafeDealRequest"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafeDeal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список сделок"
      description: "Запрос позволяет получить список сделок, отфильтрованный по заданным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Сделки"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - $ref: "#/components/parameters/ExpiresGte"
      - $ref: "#/components/parameters/ExpiresGt"
      - $ref: "#/components/parameters/ExpiresLte"
      - $ref: "#/components/parameters/ExpiresLt"
      - $ref: "#/components/parameters/DealStatusParameter"
      - $ref: "#/components/parameters/FullTextSearch"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
                description: "Список сделок, созданных за последние три года. Сделки отсортированы по времени создания в порядке убывания (от новых к старым). Если результатов больше, чем задано в limit, список будет выводиться фрагментами. В этом случае в ответе на запрос вернется фрагмент списка и параметр next_cursor с указателем на следующий фрагмент."
                title: "DealList"
                properties:
                  type:
                    type: "string"
                    description: "Формат выдачи результатов запроса. Возможное значение: list (список)."
                    enum:
                    - "list"
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/SafeDeal"
                  next_cursor:
                    $ref: "#/components/schemas/NextCursor"
                required:
                - "type"
                - "items"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /deals/{deal_id}:
    get:
      summary: "Информация о сделке"
      description: "Запрос позволяет получить информацию о текущем состоянии сделки по ее уникальному идентификатору."
      tags:
      - "Сделки"
      parameters:
      - $ref: "#/components/parameters/DealIdPath"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafeDeal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payouts:
    post:
      summary: "Создание выплаты"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект выплаты: https://yookassa.ru/developers/api#payout_object. В запросе необходимо передать сумму выплаты, данные о способе получения выплаты (например, номер кошелька ЮMoney), описание выплаты и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Передаваемые параметры и данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutRequest"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "List of payouts"
      description: "Use this request to get a list of payouts. You can download payments created over the last 3 years. You can filter the list by specified criteria. Request authentication details: https://yookassa.ru/developers/using-api/interaction-format#auth depend on which payment solution you are using: basic payouts: https://yookassa.ru/developers/payouts/overview or payouts within the Safe Deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. More about working with lists: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - $ref: "#/components/parameters/SucceededGte"
      - $ref: "#/components/parameters/SucceededGt"
      - $ref: "#/components/parameters/SucceededLte"
      - $ref: "#/components/parameters/SucceededLt"
      - in: "query"
        name: "payout_destination.type"
        schema:
          $ref: "#/components/schemas/PayoutDestinationDataType"
        description: "Filter by the method of receiving the payout: https://yookassa.ru/developers/payouts/getting-started/payout-types-and-limits#types-destination code. Example: payout_destination.type=bank_card"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/PayoutStatus"
        description: "Filter by payout status: https://yookassa.ru/developers/api#payout_object_status. Example: status=succeeded"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutsList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payouts/search:
    get:
      summary: "Search for payouts"
      description: "Use this request to search for payouts by the specified criteria. Available only for payouts created over the last 3 months. At this time, only search by the metadata parameter is available. You can also specify the date and time when the payout was created (the created_at parameter). Request authentication details: https://yookassa.ru/developers/using-api/interaction-format#auth depend on which payment solution you are using: basic payouts: https://yookassa.ru/developers/payouts/overview or payouts within the Safe Deal: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - $ref: "#/components/parameters/MetadataInQueryParameter"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutsList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payouts/{payout_id}:
    get:
      summary: "Информация о выплате"
      description: "Используйте этот запрос, чтобы получить информацию о текущем состоянии выплаты по ее уникальному идентификатору. Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/PayoutIdPath"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /sbp_banks:
    get:
      summary: "Список участников СБП"
      description: "С помощью этого запроса вы можете получить актуальный список всех участников СБП. Список нужно вывести получателю выплаты, идентификатор выбранного участника СБП необходимо использовать в запросе на создание выплаты: https://yookassa.ru/developers/api#create_payout. Подробнее о выплатах через СБП: https://yookassa.ru/developers/payouts/making-payouts/sbp"
      tags:
      - "Участники СБП"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
                description: "Список участников СБП. Участники СБП отсортированы по идентификатору участника в порядке убывания."
                title: "GetSbpBanksResponse"
                properties:
                  type:
                    type: "string"
                    description: "Формат выдачи результатов запроса. Возможное значение: list (список)."
                    enum:
                    - "list"
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/SbpParticipantBank"
                required:
                - "type"
                - "items"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /personal_data:
    post:
      summary: "Создание персональных данных"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект персональных данных: https://yookassa.ru/developers/api#personal_data_object. В запросе необходимо указать тип данных (с какой целью они будут использоваться) и передать информацию о пользователе: фамилию, имя, отчество и другие — в зависимости от выбранного типа. Идентификатор созданного объекта персональных данных необходимо использовать в запросе на создание выплаты: https://yookassa.ru/developers/api#create_payout."
      tags:
      - "Персональные данные"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SbpPayoutRecipientPersonalDataRequest"
              - $ref: "#/components/schemas/PayoutStatementRecipientPersonalDataRequest"
              discriminator:
                propertyName: "type"
                mapping:
                  payout_statement_recipient: "#/components/schemas/PayoutStatementRecipientPersonalDataRequest"
                  sbp_payout_recipient: "#/components/schemas/SbpPayoutRecipientPersonalDataRequest"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonalData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /personal_data/{personal_data_id}:
    get:
      summary: "Информация о персональных данных"
      description: "С помощью этого запроса вы можете получить информацию о текущем статусе объекта персональных данных по его уникальному идентификатору."
      tags:
      - "Персональные данные"
      parameters:
      - in: "path"
        name: "personal_data_id"
        required: true
        schema:
          $ref: "#/components/schemas/PersonalDataId"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonalData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /webhooks:
    post:
      summary: "Создание webhook"
      description: "Запрос позволяет подписаться на уведомления о событиях: https://yookassa.ru/developers/using-api/webhooks#events (например, переход платежа в статус succeeded). C помощью webhook можно подписаться только на события платежей и возвратов. Если вы хотите получать уведомления о нескольких событиях, вам нужно для каждого из них создать свой webhook. Для каждого OAuth-токена нужно создавать свой набор webhook."
      tags:
      - "Webhooks"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "CreateWebhookRequest"
              properties:
                event:
                  allOf:
                  - $ref: "#/components/schemas/NotificationEventType"
                  - description: "Событие: https://yookassa.ru/developers/using-api/webhooks#events, которое вы хотите отслеживать."
                url:
                  description: "URL, на который ЮKassa будет отправлять уведомления."
                  type: "string"
                  example: "https://www.example.com/notification_url"
              required:
              - "event"
              - "url"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список созданных webhook"
      description: "Запрос позволяет узнать, какие webhook есть для переданного OAuth-токена."
      tags:
      - "Webhooks"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookList"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /webhooks/{webhook_id}:
    delete:
      summary: "Удаление webhook"
      description: "Запрос позволяет отписаться от уведомлений о событии для переданного OAuth-токена. Чтобы удалить webhook, вам нужно передать в запросе его идентификатор."
      parameters:
      - $ref: "#/components/parameters/webhookId"
      tags:
      - "Webhooks"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /me:
    get:
      summary: "Информация о настройках магазина или шлюза"
      description: "С помощью этого запроса вы можете получить информацию о магазине или шлюзе: * Для Сплитования платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics: в запросе необходимо передать параметр on_behalf_of с идентификатором магазина продавца и ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашей платформы). * Для партнеров: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics: в запросе необходимо передать OAuth-токен магазина. * Для выплат: https://yookassa.ru/developers/payouts/overview: в запросе необходимо передать ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашего шлюза)."
      tags:
      - "Настройки"
      parameters:
      - in: "query"
        name: "on_behalf_of"
        schema:
          $ref: "#/components/schemas/AccountId"
        required: false
        description: "Только для тех, кто использует Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics. Идентификатор магазина продавца, подключенного к вашей платформе, информацию о котором вы хотите узнать."
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  securitySchemes:
    BasicAuth:
      description: "HTTP Basic аутентификация клиента ЮKassa"
      type: "http"
      scheme: "basic"
    OAuth2:
      description: "Авторизация клиента ЮKassa с использованием OAuth-токена"
      type: "oauth2"
      flows:
        implicit:
          authorizationUrl: "https://yookassa.ru/oauth/v2/authorize"
          scopes:
            checkout:payments_create: "Право на создание платежей"
            checkout:payments_capture: "Право на подтверждение платежей"
            checkout:payments_cancel: "Право на отмену платежей"
            checkout:payments_get: "Право на получение списка платежей"
            checkout:refunds_create: "Право на создание возвратов"
            checkout:refunds_get: "Право на получение списка возвратов"
            checkout:receipts_get: "Право на получение списка возвратов"
            checkout:get_fees: "Право на получение информации об удержанных комиссиях"
  parameters:
    IdempotenceKey:
      name: "Idempotence-Key"
      in: "header"
      required: true
      schema:
        type: "string"
        maxLength: 64
        pattern: "[0-9a-zA-Z+-_.]{1,64}"
        default: "2e1da982-1bb1-41f0-b9cf-758cc8bcf069"
    CreatedGte:
      name: "created_at.gte"
      in: "query"
      description: "Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    CreatedGt:
      name: "created_at.gt"
      in: "query"
      description: "Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    CreatedLte:
      name: "created_at.lte"
      in: "query"
      description: "Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    CreatedLt:
      name: "created_at.lt"
      in: "query"
      description: "Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    Limit:
      name: "limit"
      in: "query"
      description: "Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit=50 Значение по умолчанию: 10"
      schema:
        type: "integer"
        minimum: 1
        maximum: 100
        default: 10
    NextCursor:
      name: "cursor"
      in: "query"
      description: "Указатель на следующий фрагмент списка. Пример: cursor=37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination"
      schema:
        type: "string"
    paymentIdPath:
      name: "payment_id"
      in: "path"
      required: true
      description: "Идентификатор платежа."
      schema:
        $ref: "#/components/schemas/PaymentId"
    paymentMethodIdPath:
      name: "payment_method_id"
      in: "path"
      required: true
      description: "Идентификатор сохраненного способа оплаты."
      schema:
        $ref: "#/components/schemas/PaymentMethodId"
    invoiceId:
      name: "invoice_id"
      in: "path"
      required: true
      description: "Invoice ID in YooMoney."
      schema:
        type: "string"
        minLength: 39
        maxLength: 39
        default: "in-e44e8088-bd73-43b1-959a-954f3a7d0c54?>"
    refundIdPath:
      name: "refund_id"
      in: "path"
      required: true
      description: "Идентификатор возврата."
      schema:
        type: "string"
        minLength: 36
        maxLength: 36
        default: "cae993f2-eb15-45f5-91c5-efb87107ae10"
    receiptIdPath:
      name: "receipt_id"
      in: "path"
      required: true
      description: "Идентификатор чека."
      schema:
        $ref: "#/components/schemas/ReceiptId"
    ExpiresGte:
      name: "expires_at.gte"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    ExpiresGt:
      name: "expires_at.gt"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    ExpiresLte:
      name: "expires_at.lte"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    ExpiresLt:
      name: "expires_at.lt"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    DealStatusParameter:
      name: "status"
      in: "query"
      schema:
        $ref: "#/components/schemas/DealStatus"
      description: "Фильтр по статусу сделки. Пример: status=closed"
    FullTextSearch:
      name: "full_text_search"
      in: "query"
      description: "Фильтр по описанию сделки — параметру description (например, идентификатор сделки на стороне вашей интернет-площадки в ЮKassa, идентификатор покупателя или продавца). От 4 до 128 символов. Пример: 123554642-2432FF344R"
      schema:
        type: "string"
        minLength: 4
        maxLength: 128
    DealIdPath:
      name: "deal_id"
      in: "path"
      required: true
      schema:
        $ref: "#/components/schemas/DealId"
    SucceededGte:
      name: "succeeded_at.gte"
      in: "query"
      description: "Filter by time of a successful payout processing: time must be greater than the specified value or equal (\"from a certain moment inclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: succeeded_at.gte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    SucceededGt:
      name: "succeeded_at.gt"
      in: "query"
      description: "Filter by time of a successful payout processing: time must be greater than the specified value (\"from a certain moment exclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: succeeded_at.gt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    SucceededLte:
      name: "succeeded_at.lte"
      in: "query"
      description: "Filter by time of a successful payout processing: time must be less than the specified value or equal (\"until a certain moment inclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: succeeded_at.lte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    SucceededLt:
      name: "succeeded_at.lt"
      in: "query"
      description: "Filter by time of a successful payout processing: time must be less than the specified value (\"until a certain moment exclusive\"). Specified in the ISO 8601: https://en.wikipedia.org/wiki/ISO_8601 format. Example: succeeded_at.lt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    MetadataInQueryParameter:
      name: "metadata"
      in: "query"
      style: "deepObject"
      explode: true
      description: "Filter by the metadata object. Strict \"key-value\" pair search: objects that have an exact key and value match in metadata are returned. Restrictions: you can specify a maximum of one \"key-value\" pair, the key name must not be longer than 32 characters, the key value must not be longer than 512 characters, and the data type is a string in UTF-8 format in URL-encoded form. Template: metadata[key]=value Example: metadata%5Boperation_id%5D=e2ab2e1c-776d-4376-aba8-d2099243d1f6"
      schema:
        type: "object"
        maxProperties: 1
        additionalProperties:
          type: "string"
          maxLength: 512
    PayoutIdPath:
      name: "payout_id"
      in: "path"
      required: true
      schema:
        $ref: "#/components/schemas/PayoutId"
    webhookId:
      name: "webhook_id"
      in: "path"
      required: true
      description: "Идентификатор webhook-a."
      schema:
        type: "string"
        minLength: 36
        maxLength: 36
        default: "1da5c87d-0984-50e8-a7f3-8de646dd9ec9"
  schemas:
    MonetaryAmount:
      description: "Сумма в выбранной валюте."
      type: "object"
      properties:
        value:
          description: "Сумма в выбранной валюте. Всегда дробное значение. Разделитель дробной части — точка, разделитель тысяч отсутствует. Количество знаков после точки зависит от выбранной валюты. Пример: 1000.00."
          type: "string"
          example: "1000.00"
        currency:
          $ref: "#/components/schemas/CurrencyCode"
      required:
      - "value"
      - "currency"
    CurrencyCode:
      description: "Трехбуквенный код валюты в формате ISO-4217: https://www.iso.org/iso-4217-currency-codes.html. Пример: RUB. Должен соответствовать валюте субаккаунта (recipient.gateway_id), если вы разделяете потоки платежей, и валюте аккаунта (shopId в личном кабинете: https://yookassa.ru/my), если не разделяете."
      type: "string"
      enum:
      - "RUB"
      - "EUR"
      - "USD"
      - "KZT"
      - "BYN"
      - "UAH"
      - "UZS"
      - "TRY"
      - "INR"
      - "MDL"
      - "AZN"
      - "AMD"
      example: "RUB"
    Description:
      description: "Поле, в котором пользователь может передать описание создаваемого объекта (не более 128 символов). Например: «Оплата заказа № 72»."
      type: "string"
      maxLength: 128
      example: "Оплата заказа № 72"
    ReceiptData:
      type: "object"
      description: "Data for creating a receipt. The parameter is specified if: you are a company or a sole proprietor, and you use Receipts from YooMoney: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/basics; you are a company or a sole proprietor, and you use the third-party sales register: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics and send data for creating receipts under one of the following scenarios: Payment and receipt at the same time: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics#payment-and-receipt or Payment after receipt: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics#payment-after-receipt."
      properties:
        customer:
          $ref: "#/components/schemas/ReceiptDataCustomer"
        items:
          description: "List of products in an order. If you use Receipts from YooMoney, you can specify up to 80 items. If you use a third-party online sales register, you can specify up to 100 items."
          type: "array"
          items:
            $ref: "#/components/schemas/ReceiptDataItem"
        internet:
          description: "Признак проведения платежа в интернете (тег в 54 ФЗ — 1125) — указывает на оплату через интернет. Возможные значения: true — оплата прошла онлайн, через интернет (например, на вашем сайте или в приложении); false — оплата прошла офлайн, при личном взаимодействии (например, в торговой точке или при встрече с курьером). По умолчанию true. Если вы принимаете платежи офлайн, передайте в запросе значение false."
          type: "boolean"
        tax_system_code:
          $ref: "#/components/schemas/TaxSystemCode"
        timezone:
          description: "Номер часовой зоны для адреса, по которому вы принимаете платежи (тег в 54 ФЗ — 1011). Указывается, только если в чеке есть товары, которые подлежат обязательной маркировке (в items.mark_code_info передается параметр gs_1m, short или fur). Перечень возможных значений: для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#timezone; для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#timezone."
          type: "integer"
          minimum: 1
          maximum: 11
        receipt_industry_details:
          description: "Отраслевой реквизит чека (тег в 54 ФЗ — 1261). Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2."
          type: "array"
          items:
            $ref: "#/components/schemas/IndustryDetails"
        receipt_operational_details:
          allOf:
          - $ref: "#/components/schemas/OperationalDetails"
          - description: "Операционный реквизит чека (тег в 54 ФЗ — 1270). Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2."
      required:
      - "items"
    PayoutId:
      description: "Идентификатор выплаты."
      minLength: 36
      maxLength: 50
      type: "string"
      example: "po-27ced252-0025-5000-9000-0a682a8bab8f"
    GatewayId:
      description: "Идентификатор субаккаунта. Используется для разделения потоков платежей в рамках одного аккаунта."
      type: "string"
      example: "456"
    FiscalizationProvider:
      description: "The YooMoney’s solution that the store uses to send receipts. Possible values: 54-FZ: Receipts from YooMoney: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/basics: avanpost (“Avanpost” LLC), yoo_receipt (“Aitigrupp” LLC).; 54-FZ: a third-party online sales register: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics (name of an online sales register): a_qsi (aQsi online), atol (ATOL online), business_ru (Business.Ru), digital_kassa (digitalkassa), evotor (Evotor), first_ofd (1-OFD), kit_invest (Kit Invest), komtet (KOMTET Kassa), life_pay (LIFE PAY), mertrade (Mertrade), modul_kassa (ModulKassa), rocket (RocketR), shtrih_m (Orange Data)."
      type: "string"
      enum:
      - "atol"
      - "avanpost"
      - "a_qsi"
      - "business_ru"
      - "digital_kassa"
      - "evotor"
      - "first_ofd"
      - "kit_invest"
      - "komtet"
      - "life_pay"
      - "mertrade"
      - "modul_kassa"
      - "rocket"
      - "shtrih_m"
      - "yoo_receipt"
      example: "atol"
    BankCardHolderName:
      description: "Имя владельца карты."
      type: "string"
      pattern: "[a-zA-Z '-]{0,26}"
      example: "John Smith"
    CardRequestData:
      description: "Данные банковской карты (необходимы, если вы собираете данные карты пользователей на своей стороне)."
      type: "object"
      properties:
        number:
          description: "Номер банковской карты."
          type: "string"
          pattern: "[0-9]{14,19}"
          example: "5105105105105100"
        expiry_year:
          description: "Срок действия, год, YYYY."
          type: "string"
          pattern: "[0-9]{4}"
          example: "2017"
        expiry_month:
          description: "Срок действия, месяц, MM."
          type: "string"
          pattern: "[0-9]{2}"
          example: "07"
        cardholder:
          $ref: "#/components/schemas/BankCardHolderName"
      required:
      - "number"
      - "expiry_year"
      - "expiry_month"
    ReceiptDataCustomer:
      type: "object"
      description: "Информация о пользователе. Необходимо указать как минимум контактные данные: для Чеков от ЮKassa — электронную почту (customer.email), в остальных случаях — электронную почту (customer.email) или номер телефона (customer.phone)."
      properties:
        full_name:
          description: "Для юрлица — название организации, для ИП и физического лица — ФИО. Если у физлица отсутствует ИНН, в этом же параметре передаются паспортные данные. Не более 256 символов. Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу Orange Data, Атол Онлайн."
          type: "string"
          example: "Иванов Иван Иванович"
        inn:
          allOf:
          - $ref: "#/components/schemas/RussianItn"
          - description: "ИНН пользователя (10 или 12 цифр). Если у физического лица отсутствует ИНН, необходимо передать паспортные данные в параметре full_name. Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу Orange Data, Атол Онлайн."
        email:
          allOf:
          - $ref: "#/components/schemas/Email"
          - description: "User's email address for sending the receipt. A required parameter if you use Receipts from YooMoney or a third-party online sales register, and if you don't set the phone parameter."
        phone:
          allOf:
          - $ref: "#/components/schemas/Phone"
          - description: "Телефон пользователя для отправки чека. Указывается в формате ITU-T E.164: https://ru.wikipedia.org/wiki/E.164, например 79000000000. Обязательный параметр, если не передан email."
    ReceiptDataItem:
      type: "object"
      description: "Информация о товарной позиции в заказе. Используется для формирования чека."
      properties:
        description:
          $ref: "#/components/schemas/ReceiptItemDescription"
        amount:
          allOf:
          - $ref: "#/components/schemas/MonetaryAmount"
          - description: "Цена товара (тег в 54 ФЗ — 1079)."
        vat_code:
          $ref: "#/components/schemas/ReceiptItemVatCode"
        quantity:
          $ref: "#/components/schemas/ReceiptItemQuantity"
        measure:
          $ref: "#/components/schemas/ReceiptItemMeasure"
        mark_quantity:
          $ref: "#/components/schemas/MarkQuantity"
        payment_subject:
          $ref: "#/components/schemas/ReceiptItemPaymentSubject"
        payment_mode:
          $ref: "#/components/schemas/ReceiptItemPaymentMode"
        country_of_origin_code:
          $ref: "#/components/schemas/ReceiptItemCountryOfOriginCode"
        customs_declaration_number:
          $ref: "#/components/schemas/ReceiptItemCustomsDeclarationNumber"
        excise:
          $ref: "#/components/schemas/ReceiptItemExcise"
        product_code:
          $ref: "#/components/schemas/ReceiptItemProductCode"
        planned_status:
          $ref: "#/components/schemas/ReceiptItemPlannedStatus"
        mark_code_info:
          $ref: "#/components/schemas/MarkCodeInfo"
        mark_mode:
          $ref: "#/components/schemas/MarkMode"
        payment_subject_industry_details:
          $ref: "#/components/schemas/ReceiptItemPaymentSubjectIndustryDetails"
      required:
      - "description"
      - "quantity"
      - "amount"
      - "vat_code"
    TaxSystemCode:
      description: "Система налогообложения магазина (тег в 54 ФЗ — 1055). Для сторонних онлайн-касс: обязательный параметр, если вы используете онлайн-кассу Атол Онлайн, обновленную до ФФД 1.2, или у вас несколько систем налогообложения, в остальных случаях не передается. Перечень возможных значений: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#tax-systems Для Чеков от ЮKassa: параметр передавать не нужно, ЮKassa его проигнорирует."
      type: "integer"
      format: "int32"
      minimum: 1
      maximum: 6
    IndustryDetails:
      description: "Данные отраслевого реквизита."
      type: "object"
      properties:
        federal_id:
          description: "Идентификатор федерального органа исполнительной власти (тег в 54 ФЗ — 1262)."
          type: "string"
          pattern: "(^00[1-9]{1}$)|(^0[1-6]{1}[0-9]{1}$)|(^07[0-3]{1}$)"
          example: "001"
        document_date:
          description: "Дата документа основания (тег в 54 ФЗ — 1263). Передается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601"
          type: "string"
          format: "date"
          example: "2020-11-18"
        document_number:
          description: "Номер нормативного акта федерального органа исполнительной власти, регламентирующего порядок заполнения реквизита «значение отраслевого реквизита» (тег в 54 ФЗ — 1264)."
          type: "string"
          maxLength: 32
        value:
          description: "Значение отраслевого реквизита (тег в 54 ФЗ — 1265)."
          type: "string"
          example: "123/43"
          maxLength: 256
      required:
      - "federal_id"
      - "document_date"
      - "document_number"
      - "value"
    OperationalDetails:
      description: "Данные операционного реквизита чека"
      type: "object"
      properties:
        operation_id:
          description: "Идентификатор операции (тег в 54 ФЗ — 1271). Число от 0 до 255."
          type: "integer"
          minimum: 0
          maximum: 255
          example: 0
        value:
          description: "Данные операции (тег в 54 ФЗ — 1272)."
          type: "string"
          maxLength: 64
        created_at:
          description: "Время создания операции (тег в 54 ФЗ — 1273). Указывается по UTC: https://ru.wikipedia.org/wiki/%D0%92%D1%81%D0%B5%D0%BC%D0%B8%D1%80%D0%BD%D0%BE%D0%B5_%D0%BA%D0%BE%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5_%D0%B2%D1%80%D0%B5%D0%BC%D1%8F и передается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: 2017-11-03T11:52:31.827Z"
          type: "string"
          format: "date-time"
          example: "2020-07-03T11:52:31.827Z"
      required:
      - "operation_id"
      - "value"
      - "created_at"
    ReceiptItemDescription:
      description: "Название товара (от 1 до 128 символов). Тег в 54 ФЗ — 1030."
      type: "string"
    ReceiptItemVatCode:
      description: "Ставка НДС (тег в 54 ФЗ — 1199). Перечень возможных значений: * для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#vat-codes * для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#vat-codes"
      type: "integer"
      format: "int32"
      minimum: 1
      maximum: 12
    ReceiptItemQuantity:
      description: "Product quantity (tag 1023 in 54-FZ). You can set an integer or a decimal value. The decimal separator is a dot; there is no thousands separator. The maximum possible value and the maximum number of digits after the decimal separator (for decimal values) depend on the model of your online sales register. For Receipts from YooMoney, the maximum possible value is 99999.999, with no more than 3 digits after the decimal separator."
      type: "number"
      example: 1
    ReceiptItemMeasure:
      description: "Мера количества предмета расчета (тег в 54 ФЗ — 2108) — единица измерения товара, например штуки, граммы. Обязательный параметр, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2. Перечень возможных значений: * для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#measure * для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#measure"
      type: "string"
      enum:
      - "piece"
      - "gram"
      - "kilogram"
      - "ton"
      - "centimeter"
      - "decimeter"
      - "meter"
      - "square_centimeter"
      - "square_decimeter"
      - "square_meter"
      - "milliliter"
      - "liter"
      - "cubic_meter"
      - "kilowatt_hour"
      - "gigacalorie"
      - "day"
      - "hour"
      - "minute"
      - "second"
      - "kilobyte"
      - "megabyte"
      - "gigabyte"
      - "terabyte"
      - "another"
      example: "piece"
    MarkQuantity:
      description: "Дробное количество маркированного товара (тег в 54 ФЗ — 1291). Обязательный параметр, если одновременно выполняются эти условия: * вы используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2; * товар нужно маркировать: http://docs.cntd.ru/document/902192509; * поле measure имеет значение piece. Пример: вы продаете поштучно карандаши. Они поставляются пачками по 100 штук с одним кодом маркировки. При продаже одного карандаша нужно в numerator передать 1, а в denominator — 100."
      type: "object"
      properties:
        numerator:
          description: "Числитель — количество продаваемых товаров из одной потребительской упаковки (тег в 54 ФЗ — 1293). Не может превышать denominator."
          type: "integer"
          example: 1
          minimum: 1
        denominator:
          description: "Знаменатель — общее количество товаров в потребительской упаковке (тег в 54 ФЗ — 1294)."
          type: "integer"
          example: 100
          minimum: 1
      required:
      - "numerator"
      - "denominator"
    ReceiptItemPaymentSubject:
      description: "Признак предмета расчета (тег в 54 ФЗ — 1212) — это то, за что принимается оплата, например товар, услуга. Перечень возможных значений: * для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#payment-subject * для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#payment-subject"
      type: "string"
      enum:
      - "commodity"
      - "excise"
      - "job"
      - "service"
      - "gambling_bet"
      - "gambling_prize"
      - "lottery"
      - "lottery_prize"
      - "intellectual_activity"
      - "payment"
      - "agent_commission"
      - "property_right"
      - "non_operating_gain"
      - "insurance_premium"
      - "sales_tax"
      - "resort_fee"
      - "composite"
      - "another"
      - "fine"
      - "tax"
      - "lien"
      - "cost"
      - "pension_insurance_without_payouts"
      - "pension_insurance_with_payouts"
      - "health_insurance_without_payouts"
      - "health_insurance_with_payouts"
      - "health_insurance"
      - "casino"
      - "agent_withdrawals"
      - "non_marked_excise"
      - "marked_excise"
      - "marked"
      - "non_marked"
    ReceiptItemPaymentMode:
      description: "Признак способа расчета (тег в 54 ФЗ — 1214) — отражает тип оплаты и факт передачи товара. Пример: покупатель полностью оплачивает товар и сразу получает его. В этом случае нужно передать значение full_payment (полный расчет). Перечень возможных значений: * для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#payment-mode * для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#payment-mode"
      type: "string"
      enum:
      - "full_prepayment"
      - "partial_prepayment"
      - "advance"
      - "full_payment"
      - "partial_payment"
      - "credit"
      - "credit_payment"
    ReceiptItemCountryOfOriginCode:
      description: "Код страны происхождения товара по общероссийскому классификатору стран мира (OК (MК (ИСО 3166) 004-97) 025-2001: http://docs.cntd.ru/document/842501280). Тег в 54 ФЗ — 1230. Пример: RU. Можно передавать, если используете онлайн-кассу Orange Data, Кит Инвест."
      type: "string"
      example: "RU"
    ReceiptItemCustomsDeclarationNumber:
      description: "Номер таможенной декларации (от 1 до 32 символов). Тег в 54 ФЗ — 1231. Можно передавать, если используете онлайн-кассу Orange Data, Кит Инвест."
      type: "string"
      minLength: 1
      maxLength: 32
      example: "10714040/140917/0090376"
    ReceiptItemExcise:
      description: "Сумма акциза товара с учетом копеек (тег в 54 ФЗ — 1229). Десятичное число с точностью до 2 знаков после точки. Можно передавать, если используете онлайн-кассу Orange Data, Кит Инвест."
      type: "string"
      example: "20.00"
    ReceiptItemProductCode:
      description: "Product code (tag 1162 in 54-FZ) is a unique number assigned to a unit of product during marking process. Format: hexadecimal number with spaces. Maximum length is 32 bytes. Example: 00 00 00 01 00 21 FA 41 00 23 05 41 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 12 00 AB 00. This parameter is required if both conditions apply: your online sales register is updated to FFD 1.05 or 1.1; the product is subject to mandatory marking: http://docs.cntd.ru/document/902192509. The parameter must not be included in the request if you are using Receipts from YooMoney: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/basics or an online sales register updated to FFD 1.2: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/marking."
      type: "string"
      example: "00 00 00 01 00 21 FA 41 00 23 05 41 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 12 00 AB 00"
    ReceiptItemPlannedStatus:
      description: "Planned product status. Tag in 54-FZ: 2003. To be specified only for products that are subject to mandatory marking (parameter gs_1m, short, or fur is set in items.mark_code_info). Possible values are: for Receipts from YooMoney: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#planned-status; for third party online sales registers: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#planned-status."
      type: "integer"
      format: "int32"
      minimum: 1
      maximum: 6
    MarkCodeInfo:
      description: "Код товара (тег в 54 ФЗ — 1163). Обязательный параметр, если одновременно выполняются эти условия: * вы используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2; * товар нужно маркировать: http://docs.cntd.ru/document/902192509. Должно быть заполнено хотя бы одно поле."
      type: "object"
      properties:
        mark_code_raw:
          description: "Код товара в том виде, в котором он был прочитан сканером (тег в 54 ФЗ — 2000). Нужно передавать, если используете онлайн-кассу Orange Data. Пример: 010460406000590021N4N57RTCBUZTQ\\u001d2403054002410161218\\u001d1424010191ffd0\\u001g92tIAF/YVpU4roQS3M/m4z78yFq0nc/WsSmLeX6QkF/YVWwy5IMYAeiQ91Xa2m/fFSJcOkb2N+uUUtfr4n0mOX0Q=="
          type: "string"
        unknown:
          description: "Нераспознанный код товара (тег в 54 ФЗ — 1300)."
          type: "string"
          minLength: 1
          maxLength: 32
        ean_8:
          description: "Код товара в формате EAN-8 (тег в 54 ФЗ — 1301)."
          type: "string"
          minLength: 8
          maxLength: 8
        ean_13:
          description: "Код товара в формате EAN-13 (тег в 54 ФЗ — 1302)."
          type: "string"
          minLength: 13
          maxLength: 13
        itf_14:
          description: "Код товара в формате ITF-14 (тег в 54 ФЗ — 1303)."
          type: "string"
          minLength: 14
          maxLength: 14
        gs_10:
          description: "Код товара в формате GS1.0 (тег в 54 ФЗ — 1304). Можно передавать, если используете онлайн-кассу Orange Data, aQsi, Кит Инвест, АТОЛ Онлайн."
          type: "string"
          minLength: 1
          maxLength: 38
        gs_1m:
          description: "Код товара в формате GS1.M (тег в 54 ФЗ — 1305)."
          type: "string"
          minLength: 1
          maxLength: 200
        short:
          description: "Код товара в формате короткого кода маркировки (тег в 54 ФЗ — 1306)."
          type: "string"
          minLength: 1
          maxLength: 38
        fur:
          description: "Контрольно-идентификационный знак мехового изделия (тег в 54 ФЗ — 1307)."
          type: "string"
          minLength: 20
          maxLength: 20
        egais_20:
          description: "Код товара в формате ЕГАИС-2.0 (тег в 54 ФЗ — 1308)."
          type: "string"
          minLength: 33
          maxLength: 33
        egais_30:
          description: "Код товара в формате ЕГАИС-3.0 (тег в 54 ФЗ — 1309)."
          type: "string"
          maxLength: 14
          minLength: 14
    MarkMode:
      description: "Режим обработки кода маркировки (тег в 54 ФЗ — 2102). Обязательный параметр, если одновременно выполняются эти условия: * вы используете Чеки от ЮKassa или онлайн-кассу Атол Онлайн или BusinessRu, обновленную до ФФД 1.2; * товар нужно маркировать: http://docs.cntd.ru/document/902192509. Должен принимать значение равное «0»."
      type: "string"
      pattern: "^[0]{1}$"
      example: "0"
    ReceiptItemPaymentSubjectIndustryDetails:
      description: "Отраслевой реквизит предмета расчета (тег в 54 ФЗ — 1260). Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2."
      type: "array"
      items:
        $ref: "#/components/schemas/IndustryDetails"
    RussianItn:
      description: "ИНН пользователя (10 или 12 цифр)."
      type: "string"
      example: "6321341814"
      pattern: "\\d{10}|\\d{12}"
    Email:
      description: "Адрес электронной почты RFC 5322"
      type: "string"
      format: "email"
      maxLength: 254
      example: "user@yoomoney.ru"
    Phone:
      description: "Номер телефона в формате ITU-T E.164"
      type: "string"
      pattern: "[0-9]{4,15}"
      example: "79000000000"
    SbpBankId:
      type: "string"
      description: "Идентификатор банка или платежного сервиса в СБП (НСПК)."
      maxLength: 12
      pattern: "[a-zA-Z0-9]{12}"
      example: "100000000111"
    SbpBankBic:
      type: "string"
      description: "Банковский идентификационный код (БИК) банка или платежного сервиса."
      maxLength: 9
      pattern: "\\d{9}"
      example: "044525225"
    PayoutDestinationDataType:
      description: "Способ получения выплаты: * yoo_money — выплаты на кошелек ЮMoney; * bank_card — выплаты на банковскую карту; * sbp — выплаты через СБП на счет в банке или платежном сервисе."
      type: "string"
      enum:
      - "yoo_money"
      - "bank_card"
      - "sbp"
    PayoutDestinationData:
      discriminator:
        propertyName: "type"
        mapping:
          yoo_money: "#/components/schemas/PayoutToYooMoneyDestinationData"
          bank_card: "#/components/schemas/PayoutToBankCardDestinationData"
          sbp: "#/components/schemas/PayoutToSbpDestinationData"
      type: "object"
      description: "Данные платежного средства, на которое нужно сделать выплату. Обязательный параметр, если не передан payout_token или payment_method_id. Выплаты через СБП доступны только при обычных выплатах и только при выплатах физическим лицам."
      properties:
        type:
          $ref: "#/components/schemas/PayoutDestinationDataType"
      required:
      - "type"
    YooMoneyAccountNumber:
      description: "Номер кошелька ЮMoney, например 41001614575714. Длина — от 11 до 33 цифр."
      minLength: 11
      maxLength: 33
      type: "string"
      example: "41001614575714"
    CardDataForPayoutDestination:
      description: "Данные банковской карты для выплаты."
      type: "object"
      properties:
        number:
          description: "Номер банковской карты. Формат: только цифры, без пробелов. Пример: 5555555555554477"
          type: "string"
          pattern: "[0-9]{16,19}"
          example: "5555555555554477"
      required:
      - "number"
    Recipient:
      description: "Получатель платежа. Нужен, если вы разделяете потоки платежей в рамках одного аккаунта или создаете платеж в адрес другого аккаунта."
      type: "object"
      properties:
        gateway_id:
          $ref: "#/components/schemas/GatewayId"
      required:
      - "gateway_id"
    PaymentToken:
      description: "One-time payment token generated with Checkout.js: https://yookassa.ru/developers/payment-acceptance/integration-scenarios/checkout-js/basics or mobile SDK: https://yookassa.ru/developers/payment-acceptance/integration-scenarios/mobile-sdks/basics."
      type: "string"
      example: "+u7PDjMTkf08NtD66P6+eYWa2yjU3gsSIhOOO+OWsOg="
    PaymentId:
      type: "string"
      description: "Идентификатор платежа в ЮKassa."
      minLength: 36
      maxLength: 36
      example: "1da5c87d-0984-50e8-a7f3-8de646dd9ec9"
    ConfirmationDataType:
      description: "Type of payment confirmation scenario by the user. Possible values: redirect - redirecting the user to a ready-made YooMoney page or a partner's page; external - waiting for the user to confirm the payment independently; qr - generating a QR and displaying it on the payment page so that the user can confirm the payment; embedded - displaying the YooMoney payment widget; mobile_application - redirecting the user to the partner's payment app."
      type: "string"
      enum:
      - "redirect"
      - "external"
      - "qr"
      - "embedded"
      - "mobile_application"
    Locale:
      description: "Язык интерфейса, писем и смс, которые будет видеть или получать пользователь. Формат соответствует ISO/IEC 15897: https://en.wikipedia.org/wiki/Locale_(computer_software). Возможные значения: ru_RU, en_US. Регистр важен."
      type: "string"
      enum:
      - "ru_RU"
      - "en_US"
      example: "ru_RU"
    ConfirmationData:
      description: "Information required to initiate the selected payment confirmation scenario by the user. More about confirmation scenarios: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#user-confirmation"
      type: "object"
      properties:
        type:
[...]
