body:has(.cart-page) .wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body:has(.cart-page) .wrapper .content {
  flex: 1 1 auto;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  min-height: auto !important;
}

body:has(.cart-page) .wrapper .footer {
  margin-top: 0 !important;
}
